JWT_EXP=604800
JWT_SECRET=somesupersecureramdomsecret

GOOSE_DBSTRING="host=localhost user=postgres password=postgres dbname=sinmos sslmode=disable"
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./internal/adapters/postgresql/migrations
